<head>
    <link rel="stylesheet" href="/stylesheets/order.detail.css">
</head>

<body>
    {{> (lookup . 'header') }}
    <section style="margin-top: 120px; background-color: #1a1814;">

        <div class="container">
        <div class="row">
            <div class="col-xl-8">
                {{#if order}}
                {{#each products}}
                <div class="card border shadow-none">
                    <div class="card-body">
                        <div class="d-flex align-items-start border-bottom pb-3">
                            <div class="me-4">
                                <img src="{{product.p_thumbnail_image}}" alt="" class="avatar-lg rounded">
                            </div>
                            <div class="flex-grow-1 align-self-center overflow-hidden">
                                <div>
                                    <h5 class="text-truncate font-size-18">
                                        <i># {{product.p_id}}</i><br><br>
                                        <a href="/product/{{product.p_id}}"
                                            class="text-dark">{{product.p_name}} </a></h5>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="mt-3">
                                        <span class="text-muted mb-2">Đơn giá: </span>
                                        <span class="text-muted mb-2 p-price" value="{{product.p_price}}"><i>{{vndDisplay
                                                product.p_price}}</i></span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="mt-3">
                                        <span class="text-muted mb-2">Số lượng: </span>
                                        <span class="text-muted mb-2 p-qty"><i>{{quantity}}</i></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="mt-3">
                                        Tổng:
                                        <i> <span class="text-muted mb-2 totalARow"></span>
                                        </i>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                {{/each}}
                {{/if}}

            </div>

            <div class="col-xl-4">
                <div class="mt-5 mt-lg-0">
                    <div class="card border shadow-none">
                        <div class="card-header bg-transparent border-bottom py-3 px-4">
                            <h5 class="font-size-16 mb-0">Tổng quan hóa đơn </h5>
                        </div>
                        <div class="card-body p-4 pt-2">

                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <tbody>
                                        <tr>
                                            <td>Mã hóa đơn:</td>
                                            <td class="text-end">{{order._id}}</td>
                                        </tr>
                                        <tr>
                                            <td>Thời gian lập:</td>
                                            <td class="text-end">{{utc2dmy order.checkOutAt}}</td>
                                        </tr>
                                        <tr>
                                            <td>Tổng tiền hóa đơn:</td>
                                            <td class="text-end sub-total"></td>
                                        </tr>
                                        {{!-- <tr>
                                            <td>Discount (option) : </td>
                                            <td class="text-end">- $ 78</td>
                                        </tr>
                                        <tr>
                                            <td>Shipping Charge (option) :</td>
                                            <td class="text-end">$ 25</td>
                                        </tr> --}}
                                        <tr>
                                            <td>Thuế (VAT): </td>
                                            <td class="text-end tax"></td>
                                        </tr>
                                        <tr class="bg-light">
                                            <th>Khách hàng đã thanh toán :</th>
                                            <td class="text-end">
                                                <span class="fw-bold total">

                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- end table-responsive -->
                        </div>
                    </div>

                    <div class="row my-4">
                        <div class="col-sm-6" style="color: white;">
                            <a href="/" class="btn btn-link text-muted">
                                <i class="fas fa-arrow-left" style="color: white;"></i> <i style="color: white;"> Tiếp tục mua hàng</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </section>

    <br>

    {{> (lookup . 'footer') }}

</body>

<script>
    const cl = console.log
    let subTotal = tax = 0;

    $('.totalARow').each(function () {
        let quantity = $(this).closest('.row').find('.p-qty').text();
        let price = $(this).closest('.row').find('.p-price').attr('value');
        let totalARow = quantity * price;

        $(this).text(totalARow.toLocaleString('it-IT', {
            style: 'currency', currency: 'VND'
        }));

        subTotal += totalARow
        $('.sub-total').text(subTotal.toLocaleString('it-IT', {
            style: 'currency', currency: 'VND'
        }))

        tax = subTotal * 8 / 100 // 8%
        $('.tax').text(tax.toLocaleString('it-IT', {
            style: 'currency', currency: 'VND'
        }))

        $('.total').text((tax + subTotal).toLocaleString('it-IT', {
            style: 'currency', currency: 'VND'
        }))
    })

</script>


{{#if order}}
<div class="container">
    <p> Order ID: {{order._id}} </p>
    <p> Thanh toán lúc: {{utc2dmy order.checkOutAt}} </p>

    <p>Danh sách sản phẩm</p>
    {{#each products}}
    <p><span>Index: {{@index}} - </span>
        <span>ID:{{product._id}} - </span>
        <span>Name: {{product.p_name}} - </span>
        <span>Price: {{product.p_price}} - </span>
        <span>Qty In Order: {{quantity}} - </span>
        <span>Total: Price * Qty</span>
    </p>
    {{/each}}
</div>
{{/if}}